.vermelho {
    color: var(--vermelho);
}
.amarelo {
    color: var(--amarelo);
}
.verde {
    color: var(--verde);
}
.azul {
    color: var(--azul);
}
.roxo {
    color: var(--roxo);
}

.vermelho-fundo {
    background-color: var(--vermelho-escuro);
}
.amarelo-fundo {
    background-color: var(--amarelo-escuro);
}
.verde-fundo {
    background-color: var(--verde-escuro);
}
.azul-fundo {
    background-color: var(--azul-escuro);
}
.roxo-fundo {
    background-color: var(--roxo-escuro);
}

.vermelho-borda:hover {
    border: 1px solid var(--vermelho);
}
.amarelo-borda:hover {
    border: 1px solid var(--amarelo);
}
.verde-borda:hover {
    border: 1px solid var(--verde);
}
.azul-borda:hover {
    border: 1px solid var(--azul);
}
.roxo-borda:hover {
    border: 1px solid var(--roxo);
}

.hide {
    display: none;
}