@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Style Sheets */
@import url(/css/cores.css);
@import url(/css/dialog.css);
@import url(/css/global.css);
@import url(/css/header.css);
@import url(/css/lista.css);
@import url(/css/listas-base.css);
@import url(/css/tarefas.css);

:root {
    --fundo: #000120;
    --backdrop: #00012080;

    --dialog-fundo: #0f1825;

    --vermelho: #fa4549;
    --amarelo: #e7a100;
    --verde: #3fb950;
    --azul: #1d69e0;
    --roxo: #ab50e0;

    --vermelho-escuro: #563039;
    --amarelo-escuro: #564230;
    --verde-escuro: #30563f;
    --azul-escuro: #304656;
    --roxo-escuro: #333056;

    --azul-selecao-10: #2275f8;
    --azul-selecao-0: #121d57;
    --azul-selecao-5: #30365b;

    --branco: #fff;
    --preto: #24292f;
    --cinza: #67707a;

    --fonte: 'Poppins', Helvetica, Arial, sans-serif;
    --fonte-cor: #fff;

    --max-width: 1200px;
    --lista-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
    color: var(--fonte-cor);
    scrollbar-width: none;
    scroll-behavior: smooth;
    line-height: 150%;
}

body {
    background-color: var(--fundo);
}

.icon {
    font-family: 'Material Symbols Rounded', sans-serif;
    font-variation-settings: 'FILL' 1;
    font-size: 28px;
    font-weight: 600;
    user-select: none;
}

.main {
    width: 100%;
    max-width: var(--max-width);
    margin: 2rem auto;
}

select, option {
    color: #000;
}